
/*==========================================================================
Common Css
==========================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  color: #7f7f7f;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a,
button,
i {
  text-decoration: none;
  color: #000000;
}

ul li {
  list-style: none;
}
.section-padding {
  padding: 150px 0px;
}

@media (max-width: 575px) {
  .section-padding {
    padding: 90px 0px;
  }
}

.display-none {
  display: none;
}

.img__full {
  width: 100%;
}

/*==========================================================================
Form
==========================================================================*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #272A2A;
  border-color: transparent;
  border-radius: 4px;
  background: #00c867;
  color: #FFFFFF;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
/*Home-page-1 button*/
.button-1 {
  border: 1px solid #272A2A;
  border-color: #00c867;
  border-radius: 50px;
  background: #00c867;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  padding: 17px 35px;
  margin: 5px;
}
.button-1.button-border {
  border: 1px solid #272A2A;
  border-color: #00c867;
  border-radius: 50px;
  background: #fff;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  padding: 17px 35px;
  margin: 5px;
  transition: .4s;
}
.button-1.button-border:hover{
  background: #00c867;
  color: #fff;
  border-color: #00c867;
}
/*Home-page-2 button*/
.button-2.button-border{
  border: 1px solid #e0e3e7;
  border-radius: 3px;
  background: #fff;
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  padding: 17px 35px;
  margin: 5px;
}
.button-2 {
  border-radius: 3px;
  transition: .4s;
  border: 1px solid #e0e3e7;
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  background: #fff;
  padding: 17px 35px;
  margin: 0px;
}
.button-2:hover {
 border-color: #ff5b5b;
 background: #ff5b5b;
 color: #fff;
}
/*Home-page-3 button*/
.button-3 {
  border-radius: 3px;
  transition: .4s;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  background: #fff;
  padding: 17px 35px;
  margin: 0px;
  background-image: -moz-linear-gradient( 20deg, rgb(0,93,246) 0%, rgb(255,17,129) 100%);
  background-image: -webkit-linear-gradient( 20deg, rgb(0,93,246) 0%, rgb(255,17,129) 100%);
  background-image: -ms-linear-gradient( 20deg, rgb(0,93,246) 0%, rgb(255,17,129) 100%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.button-3:hover {
 color: #fff;
}
.button-3.header-button {
  border: 1px solid #e0e3e7;
  border-radius: 50px;
  background: #fff;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  padding: 17px 35px;
  margin: 5px;
  transition: .4s;
}
.button-3.header-button:hover{
  background: #e83e8c;
  color: #fff;
  border-color: #e83e8c;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: transparent;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: transparent;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #000000;
  border: 1px solid;
  border-radius: 0px;
  width: 100%;
  height: 60px;
  border: 1px solid #272A2A;
  background: #FFFFFF;
  padding-left: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #000000;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #4caf50;
}

select {
  border: 1px solid #3F4144;
}

textarea {
  width: 100%;
  height: 150px;
  padding-top: 15px;
}

button,
button:hover,
button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}
/*==========================================================================
Hedging CSS
==========================================================================*/
h1 {
  font-size: 50px;
  line-height: 54px;
  padding: 0;
  margin-bottom:33px;
  color: #2c303e;
  font-family: "Poppins", serif;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  line-height: 58px;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  color: #233d63;
  font-family: "Poppins", serif;  font-weight: 700;
}

h3 {
  font-size: 22px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: #233d63;
  font-family: "Poppins", serif;  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 34px;
  padding: 0;
  margin: 0;
  color: #2c303e;
  font-family: "Poppins", serif;  font-weight: 700;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  color: #2c303e;
  font-family: "Poppins", serif;  font-weight: 700;
}

h6 {
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  color: #2c303e;
  font-family: "Poppins", serif;  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
  margin-bottom: 40px;
  color: #7f7f7f;
  font-family: "Poppins", serif;}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

@media (max-width: 767px) {
  h2 {
    font-size: 46px;
    line-height: 56px;
  }
}

@media (max-width: 530px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 460px) {
  h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media (max-width: 430px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  h4 {
    font-size: 24px;
    line-height: 34px;
  }
}

/*==========================================================================
Theme Btn CSS
==========================================================================*/
.theme-btn,
.theme-btn-1 {
  background: #F94D1D;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  padding: 0 35px;
  text-align: center;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  z-index: 3;
  border: 1px solid transparent;
  position: relative;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 60px;
  overflow: hidden;
}

.theme-btn::after,
.theme-btn-1::after {
  position: absolute;
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.theme-btn i::before,
.theme-btn-1 i::before {
  font-size: 22px;
  margin-left: 10px;
  top: 1px;
  position: relative;
}

.theme-btn:hover,
.theme-btn-1:hover {
  color: #FFFFFF;
  border: 1px solid #F94D1D;
}

.theme-btn:hover::after,
.theme-btn-1:hover::after {
  width: 100%;
}

.theme-btn:focus,
.theme-btn-1:focus {
  color: #FFFFFF;
}

.theme-btn {
  background: #005BA4;
}

.theme-btn:hover {
  color: #030404;
}

.theme-btn::after {
  background: #FFFFFF;
}

.theme-btn-1 {
  background: #F94D1D;
}

.theme-btn-1:hover {
  color: #030404;
}

.theme-btn-1::after {
  background: #FFFFFF;
}

.simple-btn {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
}

.simple-btn i {
  position: relative;
  top: 1px;
  margin-left: 8px;
}

.simple-btn:hover {
  color: rgb(0, 200, 103) 1%;
}

/* <a class="theme-btn-1" href="#">All Project 
<i class="fal fa-long-arrow-right"></i></a> */

/* Header- area Start*/
.header-area.header-bg {
  padding: 30px 0px;
}
.main-menu ul {
  margin: 0;
}
.main-menu ul li{
  position: relative;
  list-style: none;
  display: inline-block;
  margin : 0px 20px;
}
.main-menu ul li a {
  display: block;
  color: #2c303e;
  font-weight: 500;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  transition: .4s;
  font-size: 18px;
}
.main-menu ul li a:hover{
  color: #00c867;
}
.main-menu {
  position: relative;
}
.main-menu ul li ul.submenu {
  position: absolute;
  width: 250px;
  top: 110%;
  left: 0;
  background: #fff;
  border-top: 2px solid #00c867;
  text-align: left;
  transition: .3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px 0px;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.main-menu ul li:hover > ul.submenu  {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.main-menu ul li ul.submenu li{
 display: block;
 margin: 0;
}
.main-menu ul li ul.submenu li a{
 padding: 9px 25px;
 text-transform: capitalize;
}
/* Header- area End*/
/* Slider - area Start*/
.slider-text h1 span{
   color: #00c867;
   display: block;
}
.slider-text h1 {
  color: #4d526c;
}
.slider-img {
  padding-left: 95px;
}
.single-slider {
  padding: 100px 0px;
}
.slider-area{
  position: relative;
}
.shape {
  position: absolute;
}
.shape-1 {
  left: 16%;
  top: 25%;
}
.shape-2 {
  left: 5%;
  top: 57%;
}
.shape-3 {
  left: 18%;
  top: 81%;
}
.shape-4 {
  left: 45%;
  top: 81%;
}
.shape-5 {
  left: 90%;
  top: 0%;
}
.shape-6 {
  left: 84%;
  top: 80%;
}
/* Slider - area End*/
/* How-work- area Start*/
.how-work {
  padding: 50px 35px;
  padding-top: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: .3s;
}
.how-work:hover {
  transform: translateY(-10px);
}

.how-work-icon {
  margin-bottom: 12px;
}
.how-work-text h3 {
  margin-bottom: 15px;
  font-family: "poppins";
  color: #4d526c;
}
 .how-work-text p {
  font-family: "poppins";
  margin-bottom: 25px;
  margin: 0;
 }
 .how-work-link a {
  color: #2c303e;
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   position: relative;
   display: inline-block;
 }
 .how-work-link a:hover {
    color: #00c867;
 }

 .how-work-link a::after {
  position: absolute;
  background: #c3ecd8;
  content: "";
  width: 10px;
  height: 15px;
  right: -18px;
  top: 4px;
 }
/* How-work- area End*/
/* Access- area Start*/
.access-img img {
  margin-left: -120px;
}
.access-text h2 {
  font-size: 45px;
  color: #4d526c;
  font-weight: 700;
  margin: 13px 0;
  margin-top: 18px;
}
.access-text p {
  margin-bottom: 50px;
}
/* Access- area End*/
/* access-area start*/
.access-img-2 img {
  margin-left: 120px;
}
/* access-area - area end*/
/*price- area start*/
.price-box {
  border: 1px solid #eaecea;
  padding: 35px 30px;
  transition: .3s;
}
.price-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.price-header h4 {
  font-size: 24px;
  padding-bottom: 20PX;
  border-bottom: 1px solid #eaecee;
  margin-bottom: 30px;
  margin-top: 5px;
}
.price-text h5{
  font-size: 24px;
  color: #2c3032;
  margin-bottom: 20px;
}
.price-text h5 span {
  font-size: 18px;
  color: #7f7f7f;
}
.price-plan-list ul li {
  color: #7f7f7f;
  font-weight: 300;
  margin-bottom: 15px;
  
}
.price-link {
  border-top: 1px solid #eaecee;
  padding-top: 32px;
  margin-top: 30px;
}
.price-link a {
  text-transform: uppercase;
  color: #2c303e;
  font-weight: 550;
}
.price-link a:hover {
  color: #00c867;
}
/*price- area end*/
/*testimnonial- area start*/
.testimonial-img img {
  margin-left: -70px;
}
.section-title span b {
  font-size: 20px;
  color: #2c303e;
  font-weight: 600;
}
.section-title span  {
  font-weight: 550;
  font-size: 15px;
}
.section-title h2 {
  margin-bottom: 35px;
}
.title-black h2{
  color: #2c303e;
}
.swiper-wrapper {
  padding-bottom: 50px;
  text-align: left;
}
/*testimnonial-area end*/
/*brand- area start*/
.brand-active {
  display: flex;
  justify-content: space-between;
}
.single-brand {
  align-items: center;
}
/*brand- area end*/
/*newsletter- area start*/
.newsletter input {
  height: 80px;
  width: 68%;
  border: 1px solid #ddd;
  padding: 0 20px;
  text-transform: uppercase;
  float: left;
}
.newsletter button{
  height: 80px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  float: right;
  padding: 0 70px;
  text-transform: uppercase;
  font-weight: 500;
}
/*newsletter- area end*/
/*footer- area start*/
.footer-bg {
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer-text img {
  margin-bottom: 30px;
}
.footer-social a {
  font-size: 14px;
  color: #b8bcbf;
  margin-right: 15px;
}
.footer-social a:hover {
  color: #00c867;
}
.footer-text p {
  margin-bottom: 30px;
}
.footer-widget h3 {
  color: #2c303e;
  font-size: 24px;
  font-weight: 600;
  margin-left: 28px;
  margin-bottom: 35px;
}
.footer-widget ul li{
  margin-bottom: 20px;
  line-height: 1;
  font-size: 14px;
}
.footer-widget ul li a{
  padding: 0;
  color: #7f7f7f; 

}
.footer-widget ul li a:hover {
color: #00c867;
}
.copyright-border {
  border-top: 1px solid #dddddd;
  padding: 30px 0;
}
.footer-menu ul li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu ul li a {
  color: #7f7f7f;
  font-size: 14px;
}
.footer-social a i:hover{
 color: #00c867; 
}
/*footer- area end*/

/*Home-area 2*/

/*Header-2 area start*/
.main-menu.red-menu ul li:hover > a{
  color: #ff5b5b;
}
.main-menu.red-menu ul li ul.submenu {
  border-top: 2px solid #ff5b5b;
}
/* Slider-area-2 start*/
.slider-2-padding {
  padding: 0px 250px;
}
.slider-height-2 {
  min-height: 720px;
}
.single-slider {
  background-repeat: no-repeat;
}
.slider-text.slider-text-2 h1 {
  color: #fff;
  line-height: 60px;
  padding-left: 40px;
}
/* Slider-area-2 end*/
/*features-area-2*/
.single-features .fea-text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #7b8491;
  margin-bottom: 15px;
  transition: .3s;
}
.single-features .fea-icon {
  margin-bottom: 10px;
}
.fea-icon img {
  position: absolute;
  top: -21px;
  left: -26px;
  transition: .3s;
}
.features-list:hover .fea-icon img {
  left: -40px;
  transition: .3s;
}
.fea-icon img {
  position: relative;
  display: inline-block;
}
.fea-icon span {
  background: #fbe8ff;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  display: inline-block;
}
.features-parent .col-xl-6:nth-child(1) .fea-icon span {
  background: #eef5ff;
}
.features-parent .col-xl-6:nth-child(2) .fea-icon span {
  background: #ffe7e7;
}
.features-parent .col-xl-6:nth-child(4) .fea-icon span {
  background: #ffefbd;
}
.section-title h2{
  font-size: 45px;
  margin-bottom: 10px;
  line-height: 1.3;
  color: #4d526c;
}
.section-title-2 span {
  color: #ff5b5b;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .6px;
  margin-bottom: 20px;
  display: block;
}
.section-title-2 h2 {
 font-size: 36px;
 font-weight: 500;
 margin: 0;
}
/*What-we-do-area start*/
.what-do-list {
  border: 1px solid #dee2e8;
  padding: 50px;
  margin: 10px;
  transition: .3s;
}
.what-do-list .what-text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #7b8491;
  margin-bottom: 40px;
  transition: .3s;
}
.what-do-list .what-icon {
  margin-bottom: 10px;
}
.what-icon img {
  position: absolute;
  top: 7px;
  left: 28px;
  transition: .3s;
}
.what-do-list:hover .what-icon img {
  left: 20px;
  transition: .3s;
}
.what-icon {
  position: relative;
  display: inline-block;
}
.what-do-list h3 {
  transition: .3s;
}
.what-do-list p{
  transition: .3s;
}
.what-do-list:hover h3{
  color: #fff;
}
.what-do-list:hover p{
  color: #fff;
}
.what-do-list a {
  transition: .3s;
}
.what-do-list:hover a{
  color: #fff;
}
.what-text {
  position: relative;
}
.what-text h3{
   padding-top: 20px;
   margin-top: 15px;
   margin-bottom: 40px;
}
.what-text a{
  color: #ff5b5b;
  font-size: 15px;
  font-weight: 500;
}
.what-text::before{
  position: absolute;
  left: 0;
  right: 0;
  width: 170px;
  height: 2px;
  content: "";
  background: #dee2e8;
  margin: auto;
}
.what-do-list:hover {
  background: #ff5b5b;
}
.what-icon span {
  background: #fbe8ff;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  display: inline-block;
}

.features-parent .col-xl-6:nth-child(1) .fea-icon span {
  background: #eef5ff;
}
.features-parent .col-xl-6:nth-child(2) .fea-icon span {
  background: #ffe7e7;
}
.features-parent .col-xl-6:nth-child(4) .fea-icon span {
  background: #ffefbd;
}
/*runfaster-list*/
.runfaster-list-area{
  position: relative;
}
.runfaster-content-list h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.runfaster-content-list span {
  font-size: 17px;
  color: #ff5b5b;
  line-height: 26px;
  margin-bottom: 19px;
  display: block;
}
.runfaster-content-list p {
  margin-bottom: 40px;
}
.runfaster-icon img {
  position: absolute;
  top: 20px;
  left: 339px;
  transition: .3s;
}
.runfaster-icon span {
  background: #fbe8ff;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  display: inline-block;
}
.runfaster-icon img {
  position: relative;
}
.runfaster-icon{
  position: relative;
  display: inline-block;
}
.runfaster-icon img {
  position: absolute;
  top: 20px;
  left: 35px;
}
/*setting-area*/
.runfaster-icon.setting-icon {
  position: relative;
  display: inline-block;
}
.runfaster-icon.setting-icon img {
  position: absolute;
  top: 20px;
  left: 35px;
}
/*Price-area-2 start*/
.section-title.price2-title span {
  color: #ff5b5b;
  margin-bottom: 31px;
  display: block;
}
.section-title.price2-title h2 {
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: 500;
  color: #233d63;
}
.price2-img {
 position: relative;
}
.price2-img::before {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 200px;
  content: "";
  height: 1px;
  bottom: 0;
  background: #dee2e8;
  margin: auto;

}
.price2-value h2 {
  font-size: 40px;
  font-weight: 700;
}
.price2-value span {
  font-size: 16px;
  font-weight: 500;
  color: #a2a8b0;
}
.price2-box {
  border: 1px solid #eaecea;
  padding: 55px 30px;
  transition: .3s;
}
.price2-box p {
  font-size: 15px;
  color: #7b8491;
  padding: 30px;
  margin-bottom: 40px;
}
/*Price-area-2 end*/
/*testimnonial-area-2 start*/
.section-title.testimonial-2 span {
  color: #ff5b5b;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
 }
 .section-title.testimonial-2 h2 {
   font-size: 36px;
   font-weight: 500;
   color: #233d63;
 }
 /*testimnonial-area-2 end*/
 /*Client-area*/
 .client-area {
  background-color: #fffaff;
  padding: 25px;
 }
 .section-title-2.client-title span{
  padding-top: 100px;
 }
 .section-title-2.client-title h2{
  padding-bottom: 30px;
 }
 /*footer*/
 .footer-text.footer-text-2 p {
  color: #8d96a2;
  padding: 10px;
 }
 .footer-social.social-2 a i {
  color: #8d96a2;
  transition: .3s;
 }
 .footer-social.social-2 a i:hover {
  color: #1c3354;
 }
 .footer-widget.footer-widget-2 ul li a:hover {
  color: #1c3354;
}
.footer-widget.footer-widget-2 h3 {
  color: #2c303e;
  font-size: 21px;
  font-weight: 500;
  margin-left: 28px;
  margin-bottom: 35px;
}
.footer-widget.footer-widget-2 ul li {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 14px;
}
.footer-widget.footer-widget-2 ul li a {
 color: #8d9ca2;
}

/*Home-area 3*/
.header-area {
  padding: 30px 0px;
}
.main-menu.pink-menu a:hover {
  color: #ff1181;
}
.main-menu.pink-menu ul li ul.submenu {
  border-top:2px solid #ff1181;
}
.slider-text.slider-text-3 h2{
font-size: 45px;
font-weight: 600;
line-height: 1.3;
margin-bottom: 33px;
text-transform:none
}
.slider-text.slider-text-3 span {
  font-weight: 600;
  color: #7b8491;
  font-size: 15px;
}
.slider-text p {
  font-size: 15px;
  font-weight: 500;
}
.si-video.d-inline a i{
color: #898989;
font-size: 28px;
position: relative;
top: 5px;
}
.access-text-3 span {
  color: #ff1181;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.access-text-3 h2{
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 33px;
  text-transform:none
  }

/*features-area-3*/
.section-title span {
  color: #ff1181;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 600;
}
.fea-list-img {
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}
.fea-list-img::before {
  background: #00c867;
  height: 2px;
  width: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fea-list-img.item-1::before {
  background: #ff7200;
  height: 2px;
  width: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fea-list-img.item-2::before {
  background: #9411c6;
  height: 2px;
  width: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fea-list-item {
  border: 1px solid #e5e8ed;
  padding: 50px 57px;
}
.fea-list-item h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 22px;
}
.fea-list-item p {
  margin-bottom: 40px;
}
.fea-list-item a {
  color: #7b8491;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 6px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #7b8491;
  transition: .3s;
}
.fea-list-item.hover-1 a:hover {
  color: #ff7200;
  border-bottom: 2px solid #ff7200;
}
.fea-list-item.hover-2 a:hover {
  color: #9411c6;
  border-bottom: 2px solid #9411c6;
}
.fea-list-item.hover-3 a:hover {
  color: #00c867;
  border-bottom: 2px solid #00c867;
}
/*team-member start*/
.team-text p {
  margin-bottom: 0;
  padding-bottom: 0px;
}
.team-member .team-text p {
  font-size: 14px;
  font-weight: 500;
}
.team-member .team-icon a i {
  color: #7e8383;
  padding: 3px;
}
.team-member .team-icon a i:hover {
  color: #9411c6;
}
/*team-member end*/
/*testimonial-area start*/
.testimonial-img-3 {
  position: relative;
}
.testimonial-img-3 .testimonial-slide-1 {
  position: absolute;
  display: inline-block;
  right: 52px;
}
.testimonial-img-3 .testimonial-slide-2 {
  position: absolute;
  display: inline-block;
  right: 185px;
  font-weight: 100;
  width: 70px;
}
.testimonial-img-3 .testimonial-slide-3 {
  position: absolute;
  display: inline-block;
  right: -45px;
  width: 70px;
}